input[type=text],select{
    width: 100%;
       
}

input[type=submit]{
    width: 100%;
    background-color: aqua;
    opacity: 0.5;
    color: black ;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
}

input[type=submit]:hover{
    opacity: 1;
}

form{
    border-radius: 5px;
    padding: 20px;
    background-color: #f2f2f2;
}