*{
    box-sizing: border-box;
}

body{
    background-color: #2c3347;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;   
}

h1{
    color: #fff;
    font-family:"Montserrat",sans-serif ;
    font-size: 48px;
    font-weight: 200px;
    padding: 0 60px;
    margin: 20px;
}
.time{
    border: 1px solid white;
    width: 400px;
    border-radius: 50%;
    height: 400px;
    position: relative;
    text-align:center;
    padding-top: 175px;
    font-size: 50px;
    color: #fff;
    margin-top: 0;
    margin-bottom: 20px;
}

.playPause,.stop{
    margin-right: 20px;
    margin-left: 20px;
    cursor: pointer;
    background-color: transparent;
    border: 0px;
}

#pauseButton{
    display: none;
}