* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.time-select,
.sound-picker {
  height: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex: 1;
}
.time-select button,
.sound-picker button {
  color: white;
  width: 30%;
  height: 10%;
  background: none;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid white;
  transition: all 0.5s ease;
}

.sound-picker button {
  border: none;
  height: 120px;
  width: 120px;
  padding: 30px;
  border-radius: 50%;
}
.sound-picker button:nth-child(1) {
  background: #4972a1;
}
.sound-picker button:nth-child(2) {
  background: #a14f49;
}
.sound-picker button img {
  height: 100%;
}

.time-select button:hover {
  background: white;
  color: black;
}

.player-container {
  position: relative;
  height: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex: 1;
}
@media only screen and (max-width:750px){
  .app{
    display: grid;
  }
  .time-select{
    display: inline;
    position: relative;
    bottom: 40%;
  }
  .time-select button {
    height: 40%;
    color: black;
    border: 2px solid black;
  }
  .time-select button:hover {
    background: black;
    color: white;
  }
  .player-container{
    position: relative;
  }
  .player-container .time-display{
    position: absolute;
    top: 110%;
  }
  .player-container .play{
    position: absolute;
    bottom: 20%;
    left: 37%;
    height: 90%;
  }
  .player-container .replay{
    position: absolute;
    bottom: 160%;
  }
  .player-container .track-outline{
    height: 160%;
  }
  .player-container .moving-outline{
    height: 160%;
  }
  .sound-picker{
    display: inline;
    position: relative;
    top: 30%;
    left: 10%;
  }
  video {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    z-index: -10;
    height: 100%;
  }
} 

.player-container svg {
  position: absolute;
  height: 50%;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  pointer-events: none;
}
.player-container svg circle {
  transition: all 0.2s ease-in-out;
}
.time-display {
  color: white;
  position: absolute;
  font-size: 50px;
  bottom: 10%;
}

video {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  z-index: -10;
}
